<a href="https://colab.research.google.com/github/SamaSamrin/Data-Preprocessing-of-ODI-Cricketers-Dataset/blob/main/ODI_Cricketers_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Displaying First 10 Rows of Bowler Sheet

In [5]:
import pandas as pd

bowlers = pd.read_excel("ODI_cricket.xlsx", sheet_name="bowler")

display(bowlers.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2

## Meaning of each column

In [7]:
bowlers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  77 non-null     object
 1   Span    77 non-null     object
 2   Mat     77 non-null     int64
 3   Inns    77 non-null     int64
 4   Balls   77 non-null     int64
 5   Runs    77 non-null     int64
 6   Wkts    77 non-null     int64
 7   Ave     77 non-null     float64
 8   Econ    77 non-null     float64
 9   SR      77 non-null     float64
 10  4       77 non-null     int64
 11  5       77 non-null     int64
dtypes: float64(3), int64(7), object(2)
memory usage: 7.3+ KB

There is a total of 12 columns where 10 are numerical and 2 are of string data type.


1.   Player = Player's Name
2.   Span = How many years they have played
3.